@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);
h1{
    color:rgb(1, 164, 243);
    text-align: center;
}
h3{
    color:rgb(1, 164, 243);
    margin-left: 50px;
}

.image {
    height: 200px;
    width: 200px;
}
td{
    text-align:center;
}

.textPrice{
    font-size: 25px;
}
